{% extends "base.html" %}
{% block content %}
 <section id="contact" class="contact-section">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">Get In Touch</h2>
                <p class="section-subtitle">Let's work together</p>
            </div>
            <div class="contact-content">
                <div class="contact-info">
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Email</h4>
                            <p>jakhaniyasandip41@gmail.com</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Phone</h4>
                            <p>+91 9313245505</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Location</h4>
                            <p>Botad, India</p>
                        </div>
                    </div>
                    <div class="social-links">
                        <a href="https://github.com/Sandip-364710/skpatel" class="social-link"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/sandip-jakhaniya-2a6762267/" class="social-link"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="contact-form">
                    <form  method="post">
                         {% csrf_token %}
                        <div class="form-group">
                            <input type="text" id="name" name="name" placeholder="Your Name" required value="{{ request.POST.name }}">
                        </div>
                        <div class="form-group">
                            <input type="email" id="email" name="email" placeholder="Your Email" required value="{{ request.POST.email }}">
                        </div>
                        <div class="form-group">
                            <input type="text" id="subject" name="subject" placeholder="Subject" required value="{{ request.POST.subject }}">
                        </div>
                        <div class="form-group">
                            <textarea id="message" name="message" id="message" placeholder="Your Message" rows="5" required value="{{ request.POST.message }}"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}